* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/** Below is the code that controls font styling and positioning for the nav elements; changed div to nav to reflect the update to the html */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/** Below is the code that keeps the nav list elements inline and unbulleted; consolidated the list style tpye into this section bc it did not need to be on its own  */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/** This section contains our hero image and corresponding positioning properties */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/** consolidated the 2 classes below because they share the same styling values */
.float-left, .float-right {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/** Consolidated css coding for the 3 below classes since they share the same styling values */
.benefit-lead, .benefit-brand,.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/** Consolidated css coding for the 3 below classes since they share the same styling values / elements */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/** Consolidated css coding for the 3 below classes since they share the same styling values / elements */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/** Consolidated css coding for the 3 below classes since they share the same styling values */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/** Consolidated css coding for the 3 below classes since they share the same styling values / elements */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img  {
    max-height: 200px;
}
/** Consolidated css coding for the 3 below classes since they share the same styling values / elements */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
